.footer {
  background-color: $primary-black-color;
}

.footer__container {
  display: flex;
  align-items: center;
  padding-top: 14.4rem;
}

.site__logo {
}

.site__logo-img {
}

.site__nav-list {
}

.nav__item {
}

.sitenav__link {
}

.footer__line {
}
